# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# OS
.DS_Store

# IntelliJ
.idea/
*.iml
out/

# VSCode
.vscode/

# Env files
.env
.env.*

# Docker volumes
postgres_data
pgdata
postgres_dev

# Mac
*.swp